*.back
*.MOVE.js
*.MOVE.mjs
*.REMOVE
*.todo
*.test
.env.production

# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Environment variables
.env

# OS / Editor files
.DS_Store
.idea/
.vscode/

package-lock.json

server-routes/
app-examples/
app-docs/
data-examples/
docs/
demo-new/
no-more-bad-info/
